body {
    background-color: #f2f2f2;


    font-family: verdana;
    /*background-image: url("../images/spacebkg.jpg");*/
    }

.block1{
    position: relative;
    background-color: #e6e6e6;
    color: black;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;

    }


.block2{
    position: relative;
    background-color: #e6e6e6;
    padding-bottom:2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%

    }

.headline{
    position: center;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #668CFF;
    color: #0032CC;

    z-index: 10;
}

img {

    max-width: 98.1%;

}

.image-circle {
  border-radius: 50%;
}
a.hover {
    text-decoration: underline;
}
