body {
    background-color: #ffd699;
}

div.block1{
    background-color: #ffcc33;
    width: 90%;
    color: black;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;

}