/*body {
    background-color: #ffd699;
}

h2 {
    font-weight: 400;
    color: #cc6500;
    font-size: 3.5em;
}
*/


.block1{
    position: relative;
    background-color: #e6e6e6;
    
    color: black;
    
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;

    }


.block2{
    position: relative;
    background-color: #e6e6e6;
    padding-bottom:2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%
    
    }

.headline{
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #ffbf80;
    z-index: 10;
}

img {
    margin-bottom: 15px;
    max-width: 100%;
    
}

a.hover {
    text-decoration: underline;
}