@font-face {
    font-family: 'source_sans_proregular';
    src: url('images/sourcesanspro-regular-webfont.eot');
    src: url('images/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('images/sourcesanspro-regular-webfont.woff') format('woff'),
         url('images/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('images/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'merriweatherregular';
    src: url('images/merriweather-regular-webfont.eot');
    src: url('images/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/merriweather-regular-webfont.woff2') format('woff2'),
         url('images/merriweather-regular-webfont.woff') format('woff'),
         url('images/merriweather-regular-webfont.ttf') format('truetype'),
         url('images/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* universal styles */

#main_header
{
    background: #668CFF;
    color: #0032CC;
    font-size:x-large;
    font-family: "verdana", "Liberation Serif",serif;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


a
{
    text-decoration: none;
    color: #551A8B;
}

a:hover
{
    text-decoration: underline;
}

a img
{
    border: none;
}

a.section_title
{
    text-decoration: none;
    color: #016501;
}

#site_footer
{
    font-family: "merriweatherregular", "Droid Serif","Liberation Serif",serif;
    font-size:small;
    padding-top: 15px;
    color: #e3d1dd;
    background: #e3d1dd;
    /* background: #071228; */
    text-align:center;
    clear:both;
}

#site_footer a
{
    color: #fff;
}

body
{
    font-family: "source_sans_proregular", "Open Sans", sans-serif;
}

body, html
{
    color:#000;
    /*background:#e3d1dd;*/
    /* background: #071228; */
    background: #f2f2f2;

}

#full_wrap
{
    width:960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background: #ffffff;
}

#main_content
{
    width:930px;
    padding-left:15px;
    padding-right:15px;
    float:left;
    background: #e6e6e6;
    margin: 0 auto;
}

#side_bar
{
    width:140px;
    padding-left:9px;
    padding-right:10px;
    padding-top:0px;
    padding-bottom:0px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    float:right;
    font-size: small;
    font-family: "merriweatherregular", "Droid Serif","Liberation Serif",serif;
    border-left: 1px solid #e3d1dd;
}

#side_bar ul
{
    list-style: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

li.side_header
{
    font-weight:bold;
    font-variant:small-caps;
    color: #016501;
}

h1, h2, h3, h4
{
    font-family: "merriweatherregular", "Droid Serif","Liberation Serif",serif;
    color: #016501;
}

pre.code_format
{
    font-family: monospace;
    font-size: small;
    /* margin-left: 75px; */
    /* margin-right: 75px; */
    border-top: 1px solid #e3d1dd;
    border-bottom: 1px solid #e3d1dd;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background: #e3d1dd; */
    background: #f6f6f6;
}

code
{
    background: #f6f6f6;
}

#mugshot
{
    float:left;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mugshot_image
{
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
}

#address
{
    margin: 0 auto;
}

#address ul
{
    list-style: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#me_right_column
{
    width: 410px;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    margin: 0 auto;
}

dt
{
    font-weight: bold;
}

.lc_image
{
    width: 750px;
    margin: 0 auto;
}

.lc_image_right
{
    width: 300px;
    float: right;
    padding-right: 40px;
}

.lc_image_left
{
    width: 300px;
    float: left;
    padding-left: 40px;
}

.fit_image_left
{
    width: 350px;
    float: left;
    padding-left: 10px;
}

.fit_image_right
{
    width: 350px;
    float: right;
    padding-right: 10px;
}

.img_caption
{
    font-size: small;
    text-align:center;
}

#content_left_col
{
    width: 380px;
    padding-left: 5px;
    float: left;
    margin: 0 auto;
}

#content_right_col
{
    width: 380px;
    padding-right: 5px;
    float: right;
    margin: 0 auto;
}

#content_left_col ul, #content_right_col ul
{
    list-style: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
img {

    max-width: 80%;

}

.image-circle {
  border-radius: 50%;
}
